/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

#sidebar {
	width: 350px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background: #1a1a1a;
	padding: 3em 0 1em 3em;
	border-right: 1px solid #d6dce0;
}

#logo {

	padding-left: 52px;
	padding-bottom: 20px;
	border-color: white;

}


#header {
	padding-left: 450px;
}


#main_content {
	margin-left: 2250px;
}

ul {

color: white;
list-style-type: none;
display: inline;
}

li{

display:  inline;
}
#second {
	color: black;
	padding-bottom: 125px; 	

}


a {

padding-right: 25px;

}
button {

  background-color: #0C52BA; /* Green */
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 22px;
    text-align: center;
    padding-bottom: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

p.sign_in{

	padding-top: 600px;
	color:  white;
}